@model RelaxImage.Models.ImageDisplay

@{
    ViewBag.Title = "Đẹp Vô Đối ^_^";
    Layout = null;
}

<label for="selectDomain"> Total Record: @Model.ListImg.Count </label> <br />
<select id="selectDomain">
    <option value="1">[1] - depvd.com</option>
    <option value="2">[2] - chandai.tv</option>
    <option value="3">[3] - photo.hoanvu.net</option>
    <option value="4">[4] - xinh.hay.la</option>
    <option value="5">[5] - tructiepso.com</option>
    <option value="6">[6] - xinhvl.com</option>
    <option value="7">[7] - xemlasuong.org</option>
    <option value="8">[8] - phunuvn.net</option>
    <option value="9">[9] - xemanh.net</option>
    <option value="10">[10] - xiuren.org</option>
    <option value="11">[11] - ugirls.com</option>
</select>

<div id="lstImageBadUrl">
    @if (Model.ListImg.Count > 0)
    {
        for (int i = 0; i < Model.ListImg.Count; i++)
        {
            <text>
                <div title="@Model.ListImg[i].Domain" onclick="ReverImage(this,'@Model.ListImg[i].ID');" style="max-height: 300px; max-width: 300px">
                    <img src="@Model.ListImg[i].linkimg" style="max-height: 300px; max-width: 300px" />
                    <label>@i</label>
                </div>
                <br />
            </text>
        }
    }
</div>

@*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>

    


    function ReverImage(div, id) {
        var r = confirm("Are you sure!");
        //debugger;
        if (r == true) {
            $.get('@Url.Action("ReverURL", "Home")' + '/' + id, function () {
                $(div).hide();
            });
        } else {
            //TODO:
        }
    }

</script>